{% import "_forms.html" as forms %}
{% extends "base.html" %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ post.title }}</h1>
  </div>
{% endblock %}

{% block content %}
    {% if post.body %}
        <p>{{ post.body|markdown(escape=True) }}<p>
    {% endif %}
    <p>{{ post.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
    <label for="myTags">Tags:</label>
    <ul class="list-inline tagit">
        {% for tag in post.tags %}
        <a href="{{ url_for('posts.tag', tag=tag) }}">
        <li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-read-only"><span class="tagit-label"><strong>{{ tag }}</strong></span></li>
        </a>
        {% endfor %}
    </ul>
    <hr>
    <h2>{{ _('Comments') }}</h2>
    {% if post.comments %}
    {% for comment in post.comments %}
       {% include 'posts/comment.html' %}
    {% endfor %}
    {% endif %}
    <hr/>
    {% if form %}
    <h2>{{ _('Add a comment') }}</h2>
    <form action="." method="post">
    {{ forms.render(form) }}
    <div class="actions">
        <input type="submit" class="btn primary" value="comment"/>
    </div>
    </form>
    {% else %}
        {% autoescape false %}
        <h2>{{ _('Please %(login)s to post a comment', login='<a href="%s">%s</a>' % (url_for('users.login'), _('Login'))) }}</h2>
        {% endautoescape %}
    {% endif %}
{% endblock %}
