{% extends "base.html" %}

{% block content %}
    <div class="col-sm-1 col-md-1">
    <ul id="taglist" class="list-group"></ul>
    </div>
    <div class="col-sm-11 col-md-11">
    {% for post in posts %}
        <h2><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a></h2>
        {% if post.body %}
            <p>{{ post.body|truncate(100) }}</p>
        {% endif %}
        {% if post.embed_code %}
            {{ post.embed_code|safe() }}
        {% endif %}
        {% if post.image_url %}
            <p><img src="{{ post.image_url }}"/></p>
        {% endif %}
        <p>
            {{ post.created_at.strftime('%H:%M %Y-%m-%d') }} |
            {% with total=post.comments|length %}
                {% trans total %}{{ total }} comment{% pluralize %}{{ total }} comments{% endtrans %}
            {% endwith %}
        </p>
    {% endfor %}
    </div>
{% endblock %}
{% block js_footer %}
    <script>
    $(document).ready(function() {
        $.get('{{ url_for('posts.taglist') }}', function (data, status) {
            for (var t in data) {
                $("#taglist").append(
                        '<li><a href="'+$SCRIPT_ROOT+'/tag/'+data[t]+'">'+data[t]+'</a></li>'
                );
        }
        });
    });
    </script>
{% endblock %}